<nav class="navbar">
    <div class="logo">Jbson</div>
   
    
    <div class="navbar-links">
        <ul>
            <li><a href="/">Home</a></li>
             <li><a href="/about">About Me</a></li>
             <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            
            <li><a href="/contact-me">Contact Me</a></li>
        </ul>
    </div>
</nav>