<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jbson Subedi</title>
    <link rel="stylesheet" href="/css/style.home.css">
</head>
<body>
  <%- include('./partials/navbar.ejs')   %>
   <main class="content">
    <section class="intro">
        <div class="introduction">
            <h2>Hello! My name is Jbson.</h2>
            <p>I am a web developer.</p>
            
            <a href="/about" class="about-link">About Me</a>
        </div>
        <div class="picture">
            <img src="/img/intro-image.jpg">
        </div>
    </section>
   </main>

   <%- include('./partials/footer.ejs') %>
    
</html>