
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="stylesheet" href="/css/style.project.css">
</head>
<body>
    <%- include('./partials/navbar.ejs')   %>
    <header>
        My Latest works
    </header>


<main>
    <section class="project">
        <img src="/img/project1.jpg" alt="Web Development" class="project-image">
        <div class="project-des">
            <h2>Web Development</h2>
            <p> I worked as a junior developer while making an e-commerce website. It was completed successfully.</p>
        </div>
    </section>
    <section class="project">
        <img src="/img/project2.jpg" alt="UI/UX" class="project-image">
        <div class="project-des">
            <h2>UI/UX Design</h2>
            <p>I am working as a freelance ui/ux designer for the company.</p>
        </div>
    </section>
    <section class="project">
        <img src="/img/project3.jpg" alt="Illustration" class="project-image">
        <div class="project-des">
            <h2>Illustration</h2>
            <p>I am passionate about arts . I create vector arts and Illustration.</p>
        </div>
    </section>
    <section class="project">
        <img src="/img/project4.jpg" alt="Photo Editing" class="project-image">
        <div class="project-des">
            <h2>Photo Editing</h2>
            <p>I work as a part time freelancer photographer and photo editor.</p>
        </div>
    </section>
</main>
<%- include('./partials/footer.ejs') %>
</body>
</html>