<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.service.css">
    <title>Services </title>
</head>
<body>
    <%- include('./partials/navbar.ejs')   %>
    <main>
    <h1>Services Offered</h1>
    <div class="services-cont">
        <div class="service">
            <img src="/img/service1.webp" alt="Service 1">
            <h2>Web Development.</h2>
            <p class="service-desc">Build your own fully responsive and appealing website.</p>
            
        </div>
        <div class="service">
            <img src="/img/service2.jpg" alt="Service 2">
            <h2>E-commerce Website</h2>
            <p class="service-desc">Looking to start e-commerce bussiness. You are at right place.</p>
            
        </div>
        <div class="service">
            <img src="/img/service3.jpg" alt="Service 3">
            <h2>Mobile App Development.</h2>
            <p class="service-desc">Want the app for your website?</p>
            
        </div>
        <div class="service">
            <img src="/img/service4.jpg" alt="Service 4">
            <h2>Photography</h2>
            <p class="service-desc">Looking for a great Photoshoot. I got you covered.</p>
            
        </div>
    </div>
    <div class="contact">
        <p>Want to Connect with me.</p>
    <a href="/contact-me" class="contact-button"> Contact Me</a>
    </div>
   </main>
   <%- include('./partials/footer.ejs') %>
</body>
</html>
